[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "colorschemes/base16-builder"]
	path = colorschemes/base16-builder
	url = https://github.com/ArjanFrans/base16-builder
[submodule "vim/vim/autoload/plug.vim"]
	path = vim/vim/autoload/plug.vim
	url = https://github.com/junegunn/vim-plug
